**/build
**/dist
/Introduction/demo/MultidimensionalArray/nbproject/private/
/Introduction/exercise/IdentityMatrix/nbproject/private/
/Introduction/exercise/EditDistance/nbproject/private/
/Introduction/exercise/Knights/nbproject/private/
/Introduction/exercise/TicTacToe/nbproject/private/
/Classes and Objects/demo/Objects/nbproject/private/
/Classes and Objects/demo/Constructors/nbproject/private/
/Classes and Objects/demo/Methods/nbproject/private/
/Classes and Objects/exercise/Car/nbproject/private/
/Classes and Objects/exercise/Rectangle/nbproject/private/
/Classes and Objects/exercise/Rectangle2/nbproject/private/
/Introduction/demo/Main/nbproject/private/
/Introduction/demo/Circle/nbproject/private/
/Classes and Objects/demo/Student/nbproject/private/
/Classes and Objects/exercise/ComputerStore/nbproject/private/
/Classes and Objects/exercise/Wallet/nbproject/private/
/Classes and Objects/exercise/Test/nbproject/private/
